<footer class="bg-dark">
  <div class="container">
    <div class="text-center pb-3 pt-5 pt-lg-4_5r pb-lg-4">
      <div
        class="d-flex justify-content-center justify-content-lg-between pb-5 pb-lg-4_5r align-items-center flex-wrap align-items-lg-start"
      >
        <img
          style="max-width: 196px"
          src="../assets/images/logotype.svg"
          alt=""
          class="text-white mb-5 mb-lg-0"
        />
        <section
          class="text-white text-center text-lg-start w-100 w-lg-auto mb-5 mb-lg-0"
        >
          <h6 class="mb-4">聯絡資訊</h6>
          <div
            class="d-flex gap-4 justify-content-center justify-content-lg-start"
          >
            <a href=""
              ><img src="../assets/icons/mail.svg" alt="" class="icon-white"
            /></a>
            <a href=""
              ><img
                class="icon-white"
                src="../assets/icons/logo-social-media-facebook-circle.svg"
                alt=""
            /></a>
            <a href=""
              ><img class="icon-white" src="../assets/icons/ig.svg" alt=""
            /></a>
            <a href=""
              ><img
                class="icon-white"
                src="../assets/icons/logo-social-media-twitter-circle.svg"
                alt=""
            /></a>
            <a href=""
              ><img
                class="icon-white"
                src="../assets/icons/logo-discord.svg"
                alt=""
            /></a>
          </div>
        </section>

        <section class="text-white text-start me-auto me-lg-0">
          <h6 class="mb-3">選單</h6>
          <div class="d-flex flex-column">
            <a
              href=""
              class="mb-3 link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              >作品畫廊</a
            >
            <a
              href=""
              class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              >常見問題</a
            >
          </div>
        </section>
        <section class="text-white text-start">
          <h6 class="mb-3">帳號</h6>
          <a
            href=""
            class="mb-2 link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >登入</a
          >
        </section>
        <section class="text-white text-start ms-auto ms-lg-0">
          <h6 class="mb-3">使用條款</h6>
          <a
            href=""
            class="mb-2 link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >圖片版權說明</a
          >
        </section>
      </div>
      <small class="text-white">© 2024 SP Hive. All rights reserved.</small>
    </div>
  </div>
</footer>
