<header class="bg-dark navbar navbar-expand-lg py-1 py-lg-0">
  <div class="container">
    <div class="d-lg-flex align-items-center w-100">
      <div class="d-flex d-lg-block">
        <a class="navbar-brand" href="">
          <img
            src="../assets/images/logotype.svg"
            alt=""
            class="text-white nav-logo"
          />
        </a>
        <button
          class="bg-transparent btn ms-auto d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img
            src="../assets/icons/interface-essential-navigation-menu-3.svg"
            alt="nav"
            class="icon-open"
          />
          <img src="../assets/icons/close.svg" alt="nav" class="icon-close" />
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav w-100 align-items-center mt-lg-0 pt-5 pb-4 pt-lg-0 pb-lg-0"
        >
          <li class="nav-item ms-lg-auto w-100 w-lg-auto">
            <a href="" class="custom-nav-btn">常見問題</a>
          </li>
          <li class="nav-item w-100 w-lg-auto">
            <a href="" class="custom-nav-btn">作品畫廊</a>
          </li>
          <li class="nav-item ms-lg-5 mt-auto mt-lg-0 w-100 w-lg-auto">
            <a class="custom-btn btn-primary w-lg-auto w-100">登入</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
