.nav-logo {
  height: 2.25rem;
}
.navbar-nav {
  height: calc(100vh - 4rem);
}
@include media-breakpoint-up(lg) {
  .nav-logo {
    height: 3rem;
  }
  .navbar-nav {
    height: 100%;
  }
}
[aria-expanded="false"] {
  .icon {
    &-open {
      display: inline;
    }
    &-close {
      display: none;
    }
  }
}
[aria-expanded="true"] {
  .icon {
    &-open {
      display: none;
    }
    &-close {
      display: inline;
    }
  }
}
