$board-border-size: 4px;
.banner {
  background-image: url("../assets/images/banner_bg_mobile.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 667px;
  @include media-breakpoint-up(lg) {
    background-image: url("../assets/images/banner_bg_desktop.jpg");
    background-position: 30%;
    height: 720px;
  }
}

.board {
  border: $board-border-size solid $blue-800;
  height: 100%;
  background-color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: $board-border-size * -1 $board-border-size * -1 0px 0px #00000033
    inset;
  &-title {
    font-weight: 500;
    background-color: $blue-300;
    border-bottom: $board-border-size solid $blue-800;
    box-shadow: $board-border-size * -1 $board-border-size * -1 0px 0px
        #00000033 inset,
      $board-border-size $board-border-size 0px 0px #ffffff inset;
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  &-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
    padding: 2rem 0;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }
  &-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
  &-box {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-img {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-up(lg) {
    padding: 0.75rem;
    &::after {
      position: absolute;
      background-image: url("../images/Sparkle-1.svg");
      background-size: cover;
      margin: 0 20px 20px 0;
      width: 96px;
      height: 80px;
      bottom: 0;
      right: 0;
      content: "";
    }
    &-title {
      border: $board-border-size solid $blue-800;
      &::after {
        right: 0.75rem;
        top: 0.75rem;
        position: absolute;
        content: "";
        display: block;
        background-position: center;
        background-repeat: space;
        width: 92px;
        height: 29px;
        background-image: url("../images/circle_button.svg");
      }
    }
    &-img {
      height: 100%;
    }
    &-content {
      padding: 0;
      flex-direction: row;
      width: 100%;
      margin: 0;
    }
    &-box {
      display: inline-block;
      width: 10rem;
      justify-content: center;
    }
    &-icon {
      width: 72px;
      height: 72px;
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}

.exhibition {
  background-color: $blue-50;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/gradience_desktop.svg");
    width: 100%;
    min-height: 94px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/gradience_desktop.svg");
    width: 100%;
    min-height: 94px;
    transform: rotateX(180deg);
  }
  @include media-breakpoint-up(lg) {
    &::before {
      min-height: 81px;
    }
  }
}

.ranking {
  background-color: $blue-50;
  box-shadow: $board-border-size * -1 $board-border-size * -1 0px 0px #00000033
      inset,
    $board-border-size $board-border-size 0px 0px #ffffff inset;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  &-img {
    background-image: url("../images/photo_bg.jpg");
    padding: 49px;
    display: inline-block;
    background-size: cover;
    box-shadow: -4px -4px 0px 0px #ffffff inset,
      4px 4px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
  }
  &-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    // padding: 1.25rem 0 1.25rem 5.25rem;
    // position: relative;
  }
  &-btn {
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    padding: 1.5rem;
    &-img {
      padding: 42px;
    }
    &-title {
      justify-content: start;

      // padding: 1.25rem 0 1.25rem 5.25rem;
      // position: relative;
    }
    &-btn {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.marqee {
  background-color: $blue-100;
  box-shadow: -4px -4px 0px 0px #ffffff inset,
    4px 4px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  height: 159px;
  &-container {
    animation: marquee 8s linear infinite;
  }
  &-body {
    border-bottom: 2px solid $white;
    padding-bottom: 1rem;

    position: relative;
    box-shadow: 0px -2px 0px 0px $blue-300 inset;
    margin-bottom: 1rem;
  }
  &-title {
    display: flex;
    align-items: center;
  }
  &-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  @include media-breakpoint-up(lg) {
    padding: 1.5rem 2rem 0 2rem;
  }
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.plan {
  &-title {
    display: flex;
    padding: 2rem;
    align-items: center;
    border-bottom: 4px solid $blue-800;
    box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.2509803922) inset,
      4px 4px 0px 0px #ffffff inset;
  }
  &-body {
    border: $board-border-size solid $blue-800;
    background: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &-content {
    box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.2509803922) inset,
      4px 4px 0px 0px #ffffff inset;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 3rem 0;
    &-content {
      min-height: 306px;
    }
    &:hover {
      padding: 0;
      .plan {
        &-title {
          background-color: $blue-800;
          color: $white;
        }
        &-content {
          min-height: 382px;
        }
      }
    }
  }
}
